@use "public/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
	max-width: var(--maxWidth);
	min-width: var(--minWidth);
	@include flex(column, flex-start, flex-start, $gap: 1rem);
}

.viewMore {
	display: inline-block;
	// margin: 0.5rem 0 0 0;
}

.debt {
	background-color: var(--backgroundDark) !important;
}

// .refresh {
// 	$size: 30px;

// 	position: absolute;
// 	top: 1rem;
// 	right: 1rem;

// 	&:hover {
// 		cursor: pointer;
// 		color: var(--primary);
// 	}

// 	.icon {
// 		width: $size;
// 		height: $size;
// 	}
// }
