@use "public/styles/mixins.scss" as *;

.card {
	@include flex(column, space-between);

	// padding-right: 0.5rem
	padding: 1rem;

	&.includeAction {
		padding: 0;
	}

	max-width: var(--maxWidth);
	width: 100%;

	overflow: hidden;

	@include border($color: transparent, $size: 1px);

	background-color: var(--backgroundDark);
}

.wrapper {
	padding: 0.75rem;
	@include flex(row, $gap: 1rem);
	width: 100%;

	background-color: var(--backgroundDark);

	&.light {
		background-color: var(--background);
	}
}

.content {
	width: 100%;
	// flex: 1;

	@include flex(column, flex-start, flex-start);
}

.content > * {
	width: 100%;
}

.header {
	// width: 100%;
	@include flex(row, space-between);
	align-items: flex-start;
}

.subtitle,
.pretitle {
	color: var(--subtext);
}

.badge {
	background-color: var(--red);
	color: var(--text);
	padding: 0 0.5rem;

	@include border($color: transparent);

	&.open {
		background-color: var(--red);
	}

	&.pending {
		background-color: var(--orange);
	}

	&.closed {
		background-color: var(--backgroundDark);
		color: var(--subtext);
	}
}

.dark {
	max-width: var(--maxWidth);
}

.children {
	width: 100%;
}

.arrow {
	$size: 20px;

	min-width: $size;
	min-height: $size;

	color: var(--subtext);
}

.action {
	width: 100%;
	background-color: var(--backgroundDarkHover);
	padding: 0.5rem;
}
