@use "public/styles/mixins.scss" as *;

.card {
	&.includeAction {
		padding: 0;
	}

	max-width: var(--maxWidth);
	width: 100%;

	overflow: hidden;

	@include border($color: transparent, $size: 1px);

	&:hover {
		cursor: pointer;
	}
	@include scale($color: var(--settlement));
}

.contentWrapper {
	position: relative;
	padding: 0.75rem;
	padding-right: 2rem;
	// @include flex(row, space-between);
	width: 100%;

	background-color: var(--backgroundDark);

	&.light {
		background-color: var(--background);
	}
}

.content {
	width: 100%;
	// flex: 1;

	@include flex(column, flex-start, flex-start);
}

.content > * {
	width: 100%;
}

.header {
	// width: 100%;
	@include flex(row, space-between);
	align-items: flex-start;
}

.subtitle,
.pretitle {
	color: var(--subtext);
}

.badge {
	background-color: var(--red);
	color: var(--text);
	padding: 0 0.5rem;

	@include border($color: transparent);

	&.open {
		background-color: var(--red);
	}

	&.pending {
		background-color: var(--orange);
	}

	&.closed {
		background-color: var(--backgroundDark);
		color: var(--subtext);
	}
}

.arrow {
	$size: 0.5rem;

	position: absolute;
	top: 50%;
	right: 0.75rem;

	transform: translateY(-50%);

	min-width: $size;
	min-height: $size;
	color: var(--subtext);
}

.action {
	width: 100%;
	background-color: var(--backgroundDarkHover);
	padding: 0.5rem;
}
