@use "public/styles/mixins.scss" as *;

.wrapper {
	@include flex(row, space-between, center);
	padding: 0.2rem 1rem 0.2rem 0.7rem;
	position: relative;

	min-width: 8rem;

	@include border($radius: 100px, $color: var(--subtext));
	color: var(--subtext);

	font-size: 0.8rem;

	&:hover {
		cursor: pointer;
	}
}

.icon {
	$size: 20px;

	@include flex(row, center, center);
	margin-right: 0.5rem;

	svg {
		height: $size;
		width: $size;
	}
}

.title {
	width: 100%;
	color: var(--subtext);
	text-align: center;
}

.active {
	border-color: var(--primary);
	background-color: var(--primary);
	color: var(--text);

	.title {
		color: var(--text);
	}
}
