@use "public/styles/mixins.scss" as *;

.wrapper {
	@include mainSection;
}

.header {
	text-align: left;
	width: 100%;
	max-width: var(--maxWidth);
}

.error,
.success {
	width: 100%;
}

.error {
	color: var(--red);
}

.success {
	color: var(--green);
}
