@use "public/styles/mixins.scss" as *;

.wrapper {
	@include mainSection;
	max-width: none;
	max-width: var(--maxWidth);
}

.header {
	text-align: left;
	width: 100%;
}

.error,
.success {
	width: 100%;
}

.error {
	color: var(--red);
}

.success {
	color: var(--green);
}

.hr {
	width: 100%;
	margin: 1rem auto;
}

.startHint {
	color: var(--subtext);
}
