@use "public/styles/mixins.scss" as *;

.wrapper {
	@include mainSection;
	max-width: none;
	max-width: var(--maxWidth);
}

.header {
	text-align: left;
	width: 100%;

	text-align: left;
}

.desc {
	text-align: left;
	width: 100%;
	color: var(--subtext);
}

.hr {
	width: 100%;
	margin: 1rem auto;
}

.error {
	color: var(--red);
	text-align: left;
	width: 100%;
}

.success {
	color: var(--green);
	text-align: left;
	width: 100%;
}
