@use "public/styles/mixins.scss" as *;

.wrapper {
	@include flex(column, $gap: 1rem);
	margin-top: 1rem;
	width: 100%;

	padding: 1rem;
}

.list {
	@include flex(column, $gap: 1rem);
	width: 20rem;

	li {
		width: 100%;
	}
}
