@use "public/styles/mixins.scss" as *;

.wrapper {
	margin: auto;
	max-width: var(--maxWidthSmall);
	padding: 0;
}

.submit {
	margin-top: 0.75rem;
}

.provider {
	@include flex(row, $gap: 1rem);
	width: 80%;

	.providerText {
		@include flex(row, $gap: 1rem);
	}
}

.inputElements {
	@include flex(column, $gap: 1rem);
	width: 100%;
}

.login {
	color: var(--subtext);
}

.hr {
	margin: 2rem auto 1rem auto;
}

.or {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
	color: var(--subtext);
}

.error {
	color: var(--red);
	text-align: center;
	margin-bottom: 2rem;
}
