@use "public/styles/mixins.scss" as *;

.wrapper {
	height: 100vh;
	width: 100vw;
	padding: 2rem;
	min-width: 300px;
	background-color: var(--background);
	@include flex;
}

.image {
	$size: 200px;
	width: $size;
	height: $size;
}

.title {
	margin-bottom: 2rem;
}

.wrapperCard {
	max-width: var(--maxWidthSmall);
	height: 500px;
	position: relative;
	padding: 0;
}

.submit {
	margin-top: 1.5rem;
}

.provider {
	@include flex(row, $gap: 1rem);
	width: 80%;

	.providerText {
		@include flex(row, $gap: 1rem);
	}
}

.form {
	@include flex(column, $gap: 0.5rem);
	margin-top: 1rem;
	width: 100%;
}

.login {
	color: var(--subtext);
}

.hr {
	margin: 2rem auto 1rem auto;
}

.or {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
	color: var(--subtext);
}

.error {
	color: var(--red);
	text-align: center;
	margin-bottom: 1rem;
}
