@use "public/styles/mixins.scss" as *;

.section {
	@include mainSection;
}

.detailsWrapper,
.details {
	padding: 0;
}

.details {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 1rem;
	width: 100%;

	.welcome {
		@include flex(column, flex-start, center);
		gap: 1rem;

		grid-column: 1 / 2;
		grid-row: 1 / 2;

		.welcomeCard {
			width: 100%;
		}
	}

	.bankDetails {
		@include flex(column, flex-start, flex-start);
		height: 100%;

		grid-column: 2 / 5;
		grid-row: 1 / 2;
	}
}

.signOut {
	max-width: var(--maxWidth);
}

.uploadWrapper {
	@include flex(row, center, center);
	width: 100%;
}

.uploadButton {
	@include flex(row, $gap: 1rem);
	width: 95%;
	height: 2.5rem;

	text-align: center;

	padding: 0.5rem 0.5rem;

	@include border(
		$radius: 100px,
		$size: 2px,

		$color: var(--button)
	);

	color: var(--text);
	background-color: var(--button);
	font-size: 1rem;

	&:hover {
		cursor: pointer;
		border-color: var(--text);
	}

	&:active {
		// outline: none;
		border-color: var(--text);
		background-color: transparent;
	}
}
