@use "public/styles/mixins.scss" as *;

.wrapper {
	margin: auto;
	max-width: var(--maxWidthSmall);
	padding: 0;
}

.form {
	@include flex(column, $gap: 1.5rem);

	.input {
		width: 100%;
		@include flex(column, flex-start, flex-start, $gap: 0.25rem);
	}
}

.error {
	color: var(--red);
	text-align: center;
	margin-bottom: 2rem;
}

.login {
	color: var(--subtext);
}

.textButton {
	display: inline;
}
