@use "public/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
	@include flex;
	gap: 1rem;

	padding: 1rem;
	position: relative;
}

.heading {
	text-align: left;
	width: 100%;
	max-width: var(--maxWidth);

	.callToSettle {
		margin-top: 0.5rem;
	}
}

.buttons {
	@include flex(row, $gap: 1rem);
	width: 100%;
	max-width: var(--maxWidth);

	.create {
		margin: 0.5rem auto;
		width: 90%;
	}
}

.hr {
	width: 95%;
	margin: 1rem auto;
}

.cards {
	margin-top: 1rem;
	@include flex;
	gap: 1rem;
}

.link {
	text-decoration: underline;

	&:hover {
		cursor: pointer;
		color: var(--primary);
	}
}

.filters {
	@include flex(row, space-between);
	width: 100%;
	padding: auto 1rem;
	max-width: var(--maxWidth);

	@include screen(400px) {
		flex-direction: column;
		gap: 1rem;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
.select {
	min-width: 48%;
	width: fit-content;

	@include screen(400px) {
		min-width: 80%;
	}
}
