@use "public/styles/mixins.scss" as *;

.flexWrapper {
	width: 100%;
	padding: 1rem;
	height: auto;
	@include flex(column, flex-start, center);
	gap: 1rem;
}

.header {
	text-align: left;
	width: 100%;
	max-width: var(--maxWidth);
}

.badge {
	margin-top: 0.5rem;
}

.hr {
	width: 80%;
	max-width: calc(var(--maxWidth) - 10rem);
}
