@use "public/styles/mixins.scss" as *;

.flexWrapper {
	@include mainSection;
}

.header {
	text-align: left;
	width: 100%;
	max-width: var(--maxWidth);
}

.title {
	width: 100%;
}

.badge {
	margin-top: 0.5rem;
}

.dates {
	@include flex(column, flex-start, flex-start);
	gap: 0.5rem;
}
