.newSettlement {
	margin: 1.5rem auto;
	width: 90%;
}

.title {
	margin: auto 0.5rem;
	margin-top: 1.5rem;
	text-align: left;
}

.hr {
	width: 95%;
	margin: auto;
}

.settlements {
	margin: auto;
	max-width: 800px;

	.settlement {
		margin-top: 2rem;
	}
}
