@use "public/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
	@include flex;
	gap: 1rem;

	padding: 1rem;
	position: relative;
}

.heading {
	text-align: left;
	width: 100%;
	max-width: var(--maxWidth);
	margin-bottom: 1rem;

	.callToSettle {
		margin-top: 0.5rem;
	}
}

.create {
	margin: 0.5rem auto;
	width: 90%;
	max-width: calc(var(--maxWidth) - 4rem);
}

.hr {
	width: 95%;
	margin: 1rem auto;
}

.cards {
	margin-top: 1rem;
	@include flex;
	gap: 1rem;
}

.link {
	text-decoration: underline;

	&:hover {
		cursor: pointer;
		color: var(--primary);
	}
}
