@use "public/styles/mixins.scss" as *;

.wrapper {
	@include mainSection;
}

.title {
	width: 100%;
}

.ul {
	margin-top: 1rem;
}

.newTitle {
	@include flex(row, flex-start, center, $gap: 0.75rem);
}

.badge {
	font-size: 1rem;
}

.current {
	color: var(--primary);
}

.currentCard {
	border-color: var(--primary);
}
