@use "public/styles/mixins.scss" as *;

.detailsCard {
	@include flex(column, flex-start, flex-start);
	gap: 1rem;
}

.details {
	@include flex(column, flex-start, flex-start);
	gap: 0.5rem;
}

.hr {
	width: 100%;
}
