@use "public/styles/mixins.scss" as *;

.totalsWrapper {
	@include flex(row, space-between);
	width: 100%;
}

.textWithTitle {
	width: 45%;
}

.debt {
	color: var(--red);
}

.unreceived {
	color: var(--green);
}

.hr {
	margin: 2rem 5rem;
}

.total {
	max-width: 15rem;
	margin: auto;
	margin-top: 2rem;
}
