@use "public/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
}

.card {
	&:hover {
		border-color: var(--settlement);
	}

	.title {
		color: var(--settlement);
	}

	.details {
		@include flex(row, flex-start, center, $gap: 3rem);
	}
}

// .amount,
// .date {
// 	margin-top: 0.5rem;
// }

.descWrapper {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	.type {
		color: var(--settlement);
	}

	.description {
		color: var(--subtext);
	}
}

.action {
	width: 100%;
	@include flex(column);
}

.note {
	color: var(--subtext);
}
.date {
	width: 100%;
	text-align: left;
	margin-top: 1rem;
}
