@use "public/styles/mixins.scss" as *;

.link,
.submit,
.confirm,
.cancel {
	@include flex(row, $gap: 1rem);
	width: 100%;
	height: 2.5rem;

	text-align: center;

	padding: 0.5rem 0.5rem;

	@include border(
		$radius: 100px,
		$size: 2px,

		$color: var(--button)
	);

	color: var(--text);
	background-color: var(--button);
	font-size: 1rem;

	&:hover {
		cursor: pointer;
		border-color: var(--text);
	}

	&:active {
		// outline: none;
		border-color: var(--text);
		background-color: transparent;
	}

	&.dark {
		border-color: var(--button);
		// background-color: var(--primary);
		color: var(--button);
	}
}

.buttonWrapper {
	width: 100%;
	@include flex(column, flex-start, center, $gap: 1rem);

	&.open {
		width: 100% !important;
	}

	@include desktop-up() {
		flex-direction: row;
	}
}

.confirm {
	flex: 1;
	background-color: transparent;
	border-color: var(--red);
}

.cancel {
	flex: 3;
	background-color: var(--green);
	border-color: var(--green);
}

// With Icons
.link,
.submit {
	&.iconCenter {
		// Default
	}
	&.iconLeft {
		position: relative;

		.title {
			flex: 1;
			padding: 1rem;
		}

		.icon {
			// @include flex;
			position: absolute;
			left: 0.75rem;
		}
	}
}

.icon {
	@include flex; // Center vertically;
}

.disabled {
	border-color: var(--subtext);
	color: var(--subtext);
	background-color: var(--backgroundDark);

	&:hover {
		cursor: default;
		transform: none;
		transition: none;
		box-shadow: none;
		background-color: var(--backgroundDark);
		border-color: var(--subtext);
	}
}

.secondary {
	border-color: var(--button);
	color: var(--button);
	background-color: transparent;

	&:active {
		// outline: none;
		border-color: var(--text);
		background-color: var(--button);
		color: var(--text);
	}
}

.spinnerBlocks {
	fill: var(--text) !important;
}
