@use "public/styles/mixins.scss" as *;

.link,
.submit {
	@include flex;
	width: 100%;

	text-align: center;

	padding: 0.5rem 0.5rem;

	@include border($radius: 100px, $size: 2px, $color: var(--button));

	color: var(--text);
	background-color: var(--button);
	font-size: 1rem;

	&:hover {
		cursor: pointer;
		border-color: var(--text);
	}

	&:active {
		// outline: none;
		border-color: var(--text);
		background-color: transparent;
	}

	&.dark {
		border-color: var(--button);
		// background-color: var(--primary);
		color: var(--button);
	}
}

.disabled {
	border-color: var(--subtext);
	color: var(--subtext);
	background-color: var(--backgroundDark);

	&:hover {
		cursor: default;
		transform: none;
		transition: none;
		box-shadow: none;
		background-color: var(--backgroundDark);
		border-color: var(--subtext);
	}
}

.icon {
	@include flex(row);

	gap: 0.5rem;

	svg {
		$size: 20px;

		height: $size;
		width: $size;
	}
}

.secondary {
	border-color: var(--button);
	color: var(--button);
	background-color: transparent;

	&:active {
		// outline: none;
		border-color: var(--text);
		background-color: var(--button);
		color: var(--text);
	}
}
