.totalDebt,
.totalUnreceived {
	margin-top: 1rem;
}

.totalDebt h1,
.negative h1 {
	color: var(--red);
}

.totalUnreceived h1,
.positive h1 {
	color: var(--green);
}

.netPosition {
	margin-bottom: 0.5rem;
}

.hr {
	margin: 2.5rem auto 1.5rem auto;
}

.noDebts {
	margin-top: 1rem;
	color: var(--green);
}

.unreceived {
	color: var(--green);
}

.debt {
	color: var(--red);
}
