@use "public/styles/mixins.scss" as *;

.wrapper {
	min-width: 100%;
	@include flex(column, center, flex-start, $gap: 0.5rem);

	@include desktop-up {
		min-width: 30rem;
	}
}

.individualDebtTotals {
	width: 100%;
	@include flex(row, center, flex-start, $gap: 0.5rem);

	@include desktop-up {
		justify-content: flex-start;
		align-items: flex-start;
	}

	@include screen("430px") {
		flex-direction: column;
	}
}

.debtWrapper {
	&:hover {
		border-color: var(--debt) !important;
	}
}

.unreceivedWrapper {
	&:hover {
		border-color: var(--unreceived) !important;
	}
}

.noDebts {
	margin-top: 1rem;
	color: var(--green);
}

.action {
	width: 100%;
	text-align: center;
	color: var(--subtext);
}
