@use "public/styles/mixins.scss" as *;

$screenTiny: 450px;

.statusBar {
	@include flex(row, space-between, center);
	width: 100%;

	background-color: var(--backgroundLight);
	@include border($size: 0px, $color: var(--backgroundDark), $radius: 0px);
	border-top-left-radius: 10px;

	padding: 0.5 + rem;

	@include screen($screenTiny) {
		// gap: 0.5rem;
	}
}

.leftArray {
	@include flex(row, center, center);
	gap: 0.5rem;
}

.button,
.currentGroup {
	padding: 0.4rem 0.5rem;
	@include border($size: 0, $color: transparent, $radius: 8px);
	@include flex(row, center, center, $gap: 0.25rem);

	&:hover {
		cursor: pointer;
		background-color: var(--backgroundDarkHover);
		border-color: var(--backgroundDarkHover);
	}

	&:active {
		background-color: var(--backgroundLightHover);
		border-color: var(--backgroundLightHover);
	}
}

.button {
	width: fit-content;
	background-color: var(--backgroundDark);
}

.currentGroup {
	gap: 0.5rem;
	color: var(--group);
	margin-left: 0.5rem;

	p {
		max-width: 10rem;

		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		color: var(--group);

		@include screen($screenTiny) {
			max-width: none;
		}

		@include mobile-only {
			max-width: none;
		}
	}

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@include mobile-only {
		width: 100%;
	}
}

.debt,
.settlement {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.debt {
	color: var(--debt);
}

.settlement {
	color: var(--settlement);
}

// Hide all buttons but back and group on mobile
@include mobile-only {
	.debt {
		display: none !important;
	}

	.settlement {
		display: none !important;
	}
}
