@use "public/styles/mixins.scss" as *;

.money {
	font-size: 2rem;

	white-space: nowrap;
	font-family: var(--moneyFont);

	@include flex(row, center, center, $gap: 0.25rem);

	svg {
		$size: 1.5rem;

		height: $size;
		width: $size;
	}

	&.small {
		& > .sign {
			font-size: 1.2rem;
		}
		font-size: 1.5rem;
	}
}

.background,
.backgroundDark {
	// margin-top: 0.25rem;

	padding: 0.25rem;

	@include border($color: var(--background), $radius: 8px, $size: 0px);

	&.backgroundFit {
		width: fit-content;
	}
}

.background {
	background-color: var(--background);
}

.backgroundDark {
	background-color: var(--backgroundDark);
}

.negative {
	color: var(--red);
}

.positive {
	color: var(--green);
}

.padding {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
