@use "public/styles/mixins.scss" as *;

.sign {
	font-size: 1.5rem;
}

.money {
	font-size: 2rem;

	white-space: nowrap;

	&.small {
		& > .sign {
			font-size: 1.2rem;
		}
		font-size: 1.5rem;
	}
}

.background,
.backgroundDark {
	display: block;
	margin-top: 0.25rem;

	padding: 0.25rem;

	@include border($color: var(--background), $radius: 8px, $size: 0px);

	&.backgroundFit {
		width: fit-content;
	}
}

.background {
	background-color: var(--background);
}

.backgroundDark {
	background-color: var(--backgroundDark);
}

.negative {
	color: var(--red);
}

.positive {
	color: var(--green);
}

.padding {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
