@use "public/styles/mixins" as *;

.wrapper {
	&:hover {
		border-color: var(--group) !important;
	}
}

.selected {
	color: var(--group);
}

.badge {
	color: var(--group);
}

.stats {
	@include flex(row, flex-start, normal);
	gap: 0.5rem;
	height: 6rem;
	width: 100%;
	margin-top: 0.5rem;
}

.actionCard {
	text-align: center;
	width: 10rem;
}
