@use "public/styles/mixins.scss" as *;

.wrapper {
	height: 100%;
	@include flex(column, flex-start, flex-start, $gap: 0.5rem);
}

.stats {
	width: 100%;
	height: 100%;
	@include flex(column, center, normal, $gap: 0.5rem);

	@include desktop-up {
		flex-direction: row;
	}
}

.checkboxes {
	@include flex(column, flex-start, flex-start, $gap: 1rem);
	margin: 0.5rem 0;
}

.warning,
.note {
	margin: auto;
}

.note {
	color: var(--subtext);
}

.warning {
	color: var(--red);
}

.debtsIncluded {
	height: auto;

	@include flex;

	.text {
		height: 100%;
		@include flex;
		text-align: center;
	}
}

.form {
	width: 100%;
	margin-top: 1rem;
	@include flex(column, flex-start, flex-start, $gap: 1rem);
}
