@use "public/styles/mixins.scss" as *;

.wrapper {
	@include flex(column, flex-start, $gap: 1rem);
	margin-top: 1rem;
}

.debts {
	@include flex(column, flex-start, flex-start, $gap: 0.5rem);
	width: 100%;

	@include screen(500px) {
		flex-direction: row;
	}
}

.row {
	@include flex(row, flex-start, flex-start, $gap: 0.5rem);
	width: 100%;
	margin-top: 0.5rem;

	@include screen(500px) {
		flex-direction: column;

		text-align: right;
	}
}

.debtData {
	width: 100%;
	min-width: 8rem;

	// Reduce size

	.green {
		color: var(--green);
	}

	.orange {
		color: var(--orange);
	}

	.red {
		color: var(--red);
	}

	@include screen(500px) {
		text-align: left;
	}
}

.title {
	margin-top: 1rem;
}

.hr {
	width: 100%;
	margin: 1rem 0;
}
