@use "public/styles/mixins.scss" as *;

.card {
	padding: 0;
	max-width: var(--maxWidth);
}

.title {
	margin-top: 1rem;
}

.max {
	margin: 1rem auto;
	color: var(--red);
}

.buttons {
	@include flex(row);
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.buttonWrapper {
	width: 100%;

	.count {
		margin-top: 1rem;
		text-align: center;
	}
}

.button {
	@include flex(row);

	gap: 0.5rem;

	svg {
		$size: 20px;

		height: $size;
		width: $size;
	}
}

.hr {
	width: 100%;
}
