@use "public/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
	text-align: center;
	max-width: var(--maxWidth);

	.text {
		margin-bottom: 1rem;
	}
}

.confirmButtons {
	@include flex(row, space-between, center, $gap: 1rem);
	width: 100%;

	.yes,
	.no {
		&:hover {
			border-color: var(--text);
		}

		&:active {
			background-color: transparent;
		}
	}

	.yes {
		background-color: var(--green);
		border-color: var(--green);
	}

	.no {
		background-color: var(--red);
		border-color: var(--red);
	}
}
