@use "public/styles/mixins.scss" as *;

$width: 200px;

@mixin currentlySelected {
	&.current {
		background-color: var(--background);

		&:hover {
			cursor: default;
			background-color: var(--background);
		}

		// width: 95%;
		// border-top-right-radius: 0;
		// border-bottom-right-radius: 0;
		// margin-right: 0;
	}
}

.wrapper {
	height: calc(100vh - var(--headerHeight));
	background-color: var(--backgroundDark);
	width: 15vw;
	max-width: 300px;
	min-width: $width;
}

.linksWrapper {
	@include flex;
	justify-content: flex-start;
	gap: 3rem;
	height: 100%;
	position: relative;
}

.link {
	$size: 1rem;

	// Center div
	width: 95%;
	margin-left: 5%;
	margin-right: 5%;

	max-width: 400px;

	text-align: center;

	// Align icon and text
	display: flex;
	align-items: center;
	justify-content: left;

	font-size: $size;
	padding: 1rem;

	border: rgba(0, 0, 0, 00) solid 2px;
	border-radius: 10px;

	@include currentlySelected;

	&:hover {
		background-color: var(--background);
	}

	h2 {
		font-size: 1vw;
	}

	@include screen-up(2000px) {
		h2 {
			font-size: 1.5rem;
		}
	}

	@include desktop-up {
		h2 {
			font-size: 0.8rem;
		}
	}

	// transition: all 2s ease-in-out;
}

.icon,
.iconCurrent {
	margin-right: 1rem;
	font-weight: 600;
}

.link.highlight {
	// background-color: var(--blue);
	color: var(--blue);
	border-color: var(--blue);
	h2 {
		color: var(--blue);
	}

	&:hover {
		background-color: rgba(92, 92, 92, 0.5);
	}

	@include currentlySelected;
}

.bottomIcons {
	@include flex(row, space-evenly);
	// position: absolute;
	bottom: 1rem;
	width: 100%;
}

.navIcon {
	$size: 50px;

	@include flex();
	@include border($color: transparent);

	height: $size;
	width: $size;

	padding: 0.75rem;

	svg {
		height: $size;
		width: $size;
	}

	&:hover {
		background-color: var(--background);
		backdrop-filter: blur(5px);
	}

	&.current {
		background-color: var(--background);
		cursor: default;
	}
}
