@use "public/styles/mixins.scss" as *;

.hamburgerButton {
	left: 25px;

	@include desktop-up {
		display: none;
	}
}

.exitCross {
	position: absolute;
	right: 1.8rem;
	top: 1.8rem;
}

.hamburgerButton,
.exitCross {
	position: absolute;
	color: var(--text);
	&:hover {
		cursor: pointer;
	}
}

.exitCross {
	z-index: 2;
}

.logo {
	width: 60%;
	max-width: 250px;
	flex: 1;
}

.navWrapper {
	display: none;
	position: fixed;
	width: 50vw;
	max-width: 500px;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;

	min-width: 300px;

	background-color: var(--backgroundDark);

	box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;
	box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;

	&.open {
		// includes display: flex
		@include flex();
	}

	@include desktop-up {
		display: none;
		&.open {
			display: none;
		}
	}

	@include slide-in();
}

.logo {
	margin-top: 20%;
	margin-bottom: 1rem;
}
