@use "public/styles/mixins.scss" as *;

.hamburgerButton {
	$size: 3.25rem;
	height: $size;
	width: $size;

	// left: 25px;
	padding: 0.5rem;
	@include border($color: transparent);

	&:active {
		background-color: var(--background);
	}

	@include desktop-up {
		display: none;
	}
}

.exitCross {
	$size: 2rem;

	height: $size;
	width: $size;

	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 2;
}

.hamburgerButton,
.exitCross {
	color: var(--text);
	&:hover {
		cursor: pointer;
	}
}

.logo {
	width: 150px;
	height: 150px;
}

.navWrapper {
	display: none;
	position: fixed;
	width: 50vw;
	max-width: 500px;
	height: 100lvh;
	top: 0;
	left: 0;
	z-index: 1;

	min-width: 300px;

	background-color: var(--backgroundDark);

	box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;
	box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;

	&.open {
		// includes display: flex
		@include flex(column, flex-start, flex-start);
	}

	@include desktop-up {
		display: none;
		&.open {
			display: none;
		}
	}

	@include slide-in();
}

.nav {
	height: 100%;
	width: 100%;
	padding-top: 4rem;
}

.logo {
	margin-top: 20%;
	margin-bottom: 1rem;
}
