@use "public/styles/mixins.scss" as *;

.hamburgerWrapper {
	@include flex(row, flex-start);
}

.hamburger {
	@include flex(row);

	color: var(--subtext);
	padding: 0.5rem;

	@include border($color: transparent, $radius: 10px);

	&:hover {
		cursor: pointer;
		background-color: var(--background);
	}

	&:active {
		background-color: var(--backgroundLight);
	}

	@include desktop-up {
		display: none;
	}
	svg {
		$size: 25px;
		height: $size;
		width: $size;
	}
}

.exitCrossWrapper {
	@include flex(row, flex-end);
	width: 100%;
	padding: 1rem 1rem 0 1rem;
}

.exitCross {
	@include flex(row);

	padding: 0.25rem;

	@include border($color: transparent, $radius: 10px);

	&:hover {
		cursor: pointer;
		background-color: var(--background);
	}

	&:active {
		background-color: var(--backgroundLight);
	}

	svg {
		$size: 30px;
		height: $size;
		width: $size;

		color: var(--subtext);
	}
}

.hamburgerButton,
.exitCross {
	color: var(--text);
	@include border($color: transparent, $radius: 10px);

	&:hover {
		cursor: pointer;
		background-color: var(--background);
	}

	&:active {
		background-color: var(--backgroundLight);
	}
}

.logoWrapper {
	@include flex;
	width: 100%;
	margin-bottom: 1rem;

	.logo {
		@include flex(column);
		@include border($color: transparent);
		text-align: center;

		padding: 0.25rem;
		&:hover {
			cursor: pointer;
		}

		&:active {
			background-color: var(--background);
		}

		svg {
			margin-bottom: 0.5rem;
		}
	}
}

.navWrapper {
	display: none;
	position: fixed;
	width: 70vw;
	max-width: 350px;
	height: 100lvh;
	top: 0;
	left: 0;
	z-index: 1;

	min-width: 200px;

	background-color: var(--backgroundDark);

	box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;
	box-shadow: rgba(0, 0, 0, 0.6) 5px 0px 10px;

	&.open {
		// includes display: flex
		@include flex(column, flex-start, flex-start);
	}

	@include desktop-up {
		display: none;
		&.open {
			display: none;
		}
	}

	@include slide-in();
}

.nav {
	height: 100%;
	width: 100%;
}
