@use "public/styles/mixins.scss" as *;

$breakpoint: 1200px;

.main {
	@include flex(column, center, $gap: 2rem);
	flex-wrap: nowrap;

	@include screen-up($breakpoint) {
		flex-direction: row;
		align-items: flex-start;
	}

	width: 100%;

	max-width: 1500px;
	margin: 1rem;
}

.welcome {
	padding: 0 !important;
}

.overview {
	width: 100%;
	max-width: var(--maxWidth);
	min-width: var(--minWidth);

	@include screen-up($breakpoint) {
		margin: 0 0.5rem;
	}
}

.overview {
	@include flex(column, $gap: 1rem);
}

.buttonWrapper {
	width: 100%;
	padding: 0 1rem;

	.newDebt {
		height: 3rem;
		max-width: var(--maxWidth);
	}
}
