@use "public/styles/mixins.scss" as *;

.badge {
	background-color: var(--red);
	color: var(--text);
	padding: 0 0.5rem;
	width: fit-content;

	@include border($color: transparent);

	&.open {
		background-color: var(--red);
	}

	&.pending {
		background-color: var(--orange);
	}

	&.group {
		background-color: var(--group);
		color: black;
	}

	&.closed {
		background-color: var(--backgroundDark);
		color: var(--subtext);
	}
}
