@use "public/styles/mixins.scss" as *;

.main {
	min-height: 100vh;
	min-height: 100lvh;
	width: 100vw;
	// padding: 2rem;
	min-width: 300px;
	background-color: var(--backgroundDark);

	// padding-top: 20%;
	overflow-x: hidden;
}

.content {
	@include flex(column, center, center);
	min-height: 100svh;
	width: 100%;
}

.logo {
	$size: 150px;
	width: $size;
	height: $size;
	margin-bottom: 1rem;
}

.title {
	margin-bottom: 2rem;
}

.children {
	width: 100%;
}
