@use "public/styles/mixins.scss" as *;

.main {
	min-height: 100vh;
	min-height: 100svh;

	// overflow: hidden;
	// overflow-y: auto;
}

.contentWrapper {
	@include flex(row, space-between, flex-start);
	width: 100%;
	height: 100%;
}

.children {
	@include flex(column, flex-start, flex-start);
	width: 100%;

	min-height: calc(100lvh - var(--headerHeight));
	// height: calc(100vh - var(--headerHeight));
	// position: relative;

	@include border($size: 0px, $color: transparent);
	border-radius: 10px 0 0 0;

	background-color: var(--background);

	// overflow-y: auto;

	&.back {
		padding-top: 1.25rem;
	}

	@include desktop-up {
		width: calc(100vw - var(--desktopNavWidth));
		justify-content: flex-start;
	}
}

.statusBar {
	width: 100%;

	background-color: var(--backgroundLight);
	@include border($size: 0px, $color: var(--backgroundDark), $radius: 0px);
	border-top-left-radius: 10px;

	padding: 0.5 + rem;

	.button {
		@include flex(row, center, center, $gap: 0.25rem);
		@include border($size: 0, $color: transparent, $radius: 5px);
		padding: 0.4rem 0.5rem;
		width: fit-content;
		background-color: var(--backgroundDark);

		&:hover {
			cursor: pointer;
			background-color: var(--backgroundDarkHover);
			border-color: var(--backgroundDarkHover);
		}

		&:active {
			background-color: var(--backgroundLightHover);
			border-color: var(--backgroundLightHover);
		}
	}
}

@include mobile-only {
	.mobileNav {
		display: block;
	}

	.desktopNav {
		display: none;
	}

	.children {
		border-radius: 10px 10px 0 0;
	}
}

@include desktop-up {
	.mobileNav {
		display: none;
	}

	.desktopNav {
		display: block;
	}
}
