@use "public/styles/mixins.scss" as *;

.main {
	@include flex(row, flex-start, flex-start);
	min-height: 100% !important;
	height: max-content;
	width: 100%;
}

.content {
	@include flex(row, center, flex-start);
	flex: 1;
	width: 100%;
}

@include mobile-only {
	.mobileNav {
		display: block;
	}

	.desktopNav {
		display: none;
	}
}

@include desktop-up {
	.mobileNav {
		display: none;
	}

	.desktopNav {
		display: block;
	}
}
