@use "public/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
}

.container {
	@include flex(row, flex-start, $gap: 0.5rem);

	&:hover {
		cursor: pointer;
	}
}

.checkbox {
	background-color: var(--background);
	border-color: transparent;
}

.label {
}

.invalid {
	.label {
		color: var(--red);
	}
}
