@use "public/styles/mixins.scss" as *;

.wrapperText,
.wrapperNumber {
	@include flex(column, flex-start, flex-start, $gap: 0.5rem);
	width: 100%;
	// @include border($color: transparent, $size: 1px, $radius: 100px);

	// &:hover {
	// 	border-color: var(--text);
	// }
}

.wrapperText {
	width: 100%;
}

.input {
	width: 100%;
}

.dark {
	background-color: var(--backgroundDark);
}

.disabled {
	background-color: var(--backgroundLight);
}
